{% extends 'article.html' %}
{% load static %}

{% block head %}
    <title>{{ books.title }}</title>
{% endblock %}

{% block title %}
    <h1> {{ books.title }}</h1>
{% endblock %}

{% block previous %}
    <a href="{% url 'nouvelle-aire' %}" class="btn1">Precedant</a>
{% endblock %}

{% block next %}
    <a href="{% url 'page-two' %}" class="btn2">Acceuil</a>
{% endblock %}

{% block content %}
    <p>{{ books.description }}</p>
{% endblock %}

{% block button %}
    <a href=" {% url 'des-gens-chez-moi' %}">Continuer la lecture du chapitre</a>
{% endblock %}